@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@keyframes zoomCenter{
    from {transform: scale(0) translate(-50%, -50%);
		top: 0%;
		left: 0%;
	}
    to {transform: scale(1) translate(-50%, -50%)}
}

@keyframes zoomout {
    from {transform: scale(1) translate(-50%, -50%)}
	to {transform: scale(0);
		top: 0%;
		left: 0%;
	}
}

@-webkit-keyframes slide {
    from {
      transform: translateX(100%); 
    }
  
    to {
      transform: translateX(0);
    }
  }
  
@keyframes slide {
	from {
		transform: translateX(100%); 
	}

	to {
		transform: translateX(0);
	}
}

@-webkit-keyframes slideTop {
    from {
      transform: translate(-50%, -100%)
    }
  
    to {
      transform: translate(-50%,0%);
    }
  }
  
@keyframes slideTop {
	from {
		transform: translate(-50%, -100%) 
	}

	to {
		transform: translate(-50%,0%);
	}
}

@-webkit-keyframes slideDown {
    from {
      transform: translate(-50%, 0%)
    }
  
    to {
      transform: translate(-50%,-100%);
    }
  }
  
@keyframes slideDown {
	from {
		transform: translate(-50%, 0%) 
	}

	to {
		transform: translate(-50%,-100%);
	}
}

@-webkit-keyframes slideLeft {
    from {
      transform: translate(-100%, -50%)
    }
  
    to {
      transform: translate(0%,-50%);
    }
  }
  
@keyframes slideLeft {
	from {
		transform: translate(-100%, -50%) 
	}

	to {
		transform: translate(0%,-50%);
	}
}

@-webkit-keyframes slideRight {
    from {
      transform: translate(0%, -50%)
    }
  
    to {
      transform: translate(-100%,-50%);
    }
  }
  
@keyframes slideRight {
	from {
		transform: translate(0%, -50%) 
	}

	to {
		transform: translate(-100%,-50%);
	}
}

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }